/* Wedit generated resource file */
#ifdef __LCC__
#include <windows.h>
#endif
#include "defaultres.h"


CONFIG_DIALOG DIALOG 140, 40, 194, 275
STYLE DS_SYSMODAL | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Media Caster - Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK", IDOK, 94, 248, 40, 14, WS_GROUP
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 248, 40, 14
    CONTROL         "Installation", -1, "STATIC", SS_BLACKFRAME | WS_GROUP, 6, 116, 182, 59
    GROUPBOX        "Server", 105, 6, 6, 183, 108, WS_TABSTOP
    EDITTEXT        CONFIG_PORT_FIELD, 51, 36, 130, 12, ES_AUTOHSCROLL | WS_GROUP
    EDITTEXT        CONFIG_HOST_FIELD, 51, 20, 130, 12, ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON      "Empty", CONFIG_EMPTY_BTN, 53, 187, 40, 14, WS_GROUP
    PUSHBUTTON      "Refresh", CONFIG_REFRESH_BTN, 111, 187, 40, 14
    EDITTEXT        CONFIG_USERNAME_FIELD, 51, 57, 130, 12, ES_AUTOHSCROLL
    EDITTEXT        CONFIG_PASSWORD_FIELD, 51, 73, 130, 12, ES_PASSWORD | ES_AUTOHSCROLL
    COMBOBOX        CONFIG_BITRATE_SELECT, 51, 208, 130, 12, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Bitrate:", 6010, 9, 209, 36, 12
    AUTOCHECKBOX    "Auto-update", CONFIG_UPGRADE_CHECK, 53, 131, 64, 10, NOT WS_TABSTOP
    PUSHBUTTON      "Update", CONFIG_UPGRADE_BTN, 126, 129, 40, 14
    LTEXT           "", CONFIG_UPGRADE_TEXT, 52, 153, 123, 12
    LTEXT           "", CONFIG_CONNECTED_TEXT, 51, 93, 131, 12
END

ABOUT_DIALOG DIALOG 202, 47, 180, 180
STYLE DS_SYSMODAL | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Media Caster - About"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "OK", IDOK, 72, 150, 40, 14
    EDITTEXT        TREE_ABOUT_ITEM, 20, 16, 143, 124, ES_CENTER | ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN | NOT WS_BORDER
END

AUTH_DIALOG DIALOG 167, 38, 180, 112
STYLE DS_SYSMODAL | DS_3DLOOK | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Media Caster - Error"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT           "Authentication Required", 102, 6, 6, 168, 19
    RTEXT           "Password", -1, 19, 55, 40, 12
    EDITTEXT        CONFIG_USERNAME_FIELD, 70, 36, 90, 12, ES_AUTOHSCROLL
    EDITTEXT        CONFIG_PASSWORD_FIELD, 70, 54, 90, 12, ES_PASSWORD | ES_AUTOHSCROLL
    PUSHBUTTON      "OK", IDOK, 76, 84, 40, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 120, 84, 40, 14
END

MAIN_DIALOG DIALOG 10, 0, 292, 273
STYLE DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Sans Serif"
BEGIN
    RTEXT           "Search:", 102, 0, 2, 26, 8
    EDITTEXT        MAIN_SEARCH_FIELD, 28, 2, 217, 9, ES_AUTOHSCROLL | NOT WS_BORDER
    CONTROL         "Clear Search", MAIN_CLEAR_BTN, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 248, 0, 43, 11
    CONTROL         "", MAIN_LIST, "syslistview32", 0x9 | 4096 | WS_TABSTOP, 0, 13, 289, 246
    CONTROL         "Play", MAIN_PLAY_BTN, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 0, 260, 35, 11
    CONTROL         "Enqueue", MAIN_ENQUEUE_BTN, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 38, 260, 35, 11
    CONTROL         "Refresh", MAIN_REFRESH_BTN, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 76, 260, 35, 11
    LTEXT           "", MAIN_STATUS_TEXT, 114, 262, 135, 8
    CONTROL         "Config", MAIN_CONFIG_BTN, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 255, 260, 35, 11
    CONTROL         "Abort", MAIN_ABORT_BTN, "BUTTON", BS_OWNERDRAW | NOT WS_VISIBLE, 76, 260, 35, 11
END
TREE_ACCELERATORS ACCELERATORS
BEGIN
    VK_RETURN, TREE_ENQUEUE_ITEM, VIRTKEY, SHIFT 
    VK_RETURN, TREE_PLAY_ITEM, VIRTKEY
END
TREE_ROOT_MENU MENU
BEGIN
    POPUP "TreeItemContext"
        BEGIN
        MENUITEM "About...", TREE_ABOUT_ITEM
        MENUITEM "Configuration...", TREE_CONFIG_ITEM
        END
END
MAIN_LIST_POPUP MENU
BEGIN
    POPUP "Popup"
        BEGIN
        MENUITEM "Play Selection", MAIN_LIST_PLAY_ITEM
        MENUITEM "Enqueue Selection", MAIN_LIST_ENQUEUE_ITEM
        END
END
TREE_CHILD_MENU MENU
BEGIN
    POPUP "TREE_CHILD_MENU"
        BEGIN
        MENUITEM "Play", TREE_PLAY_ITEM
        MENUITEM "Enqueue", TREE_ENQUEUE_ITEM
        END
END
MAIN_LIST_ACCELERATORS ACCELERATORS
BEGIN
    VK_RETURN, MAIN_LIST_PLAY_ITEM, VIRTKEY
    VK_RETURN, MAIN_LIST_ENQUEUE_ITEM, VIRTKEY, SHIFT 
END
