#define CONFIG_DIALOG 6000
#define CONFIG_PORT_FIELD 6002
#define CONFIG_EMPTY_BTN 6007
#define CONFIG_REFRESH_BTN 6008
#define CONFIG_USERNAME_FIELD 6003
#define CONFIG_PASSWORD_FIELD 6004
#define CONFIG_BITRATE_SELECT 6009
#define CONFIG_UPGRADE_CHECK 6005
#define CONFIG_UPGRADE_TEXT 6006
#define CONFIG_HOST_FIELD 6001
#define CONFIG_UPGRADE_BTN 6011
#define CONFIG_DOWNLOAD_BTN 6012
#define ABOUT_DIALOG 4000
#define ABOUT_TEXT 4001
#define AUTH_DIALOG 9000
#define AUTH_USERNAME_FIELD 9001
#define AUTH_PASSWORD_FIELD 9002
#define MAIN_DIALOG 8000
#define MAIN_SEARCH_FIELD 8001
#define MAIN_CLEAR_BTN 8009
#define MAIN_LIST 8002
#define MAIN_PLAY_BTN 8003
#define MAIN_ENQUEUE_BTN 8004
#define MAIN_REFRESH_BTN 8006
#define MAIN_STATUS_TEXT 8007
#define MAIN_CONFIG_BTN 8008
#define MAIN_ABORT_BTN 8005
#define MAIN_DOWNLOAD_BTN 8010
#define MAIN_LIST_MENU 3000
#define MAIN_LIST_PLAY_ITEM 3001
#define MAIN_LIST_ENQUEUE_ITEM 3002
#define MAIN_LIST_DOWNLOAD_ITEM 3003
#define TREE_ROOT_MENU 1000
#define TREE_ABOUT_ITEM 1001
#define TREE_CONFIG_ITEM 1002
#define TREE_CHILD_MENU 2000
#define TREE_PLAY_ITEM 2001
#define TREE_ENQUEUE_ITEM 2002
#include "windows.h"
CONFIG_DIALOG DIALOGEX 140,40,194,275
CAPTION "Media Caster - Configuration"
FONT 8,"MS Sans Serif",0,0
STYLE 0x90C80006
BEGIN
  CONTROL "OK",IDOK,"Button",0x50030001,94,248,40,14
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,140,248,40,14
  CONTROL "Host:",-1,"Static",0x50020002,11,20,36,12
  CONTROL "Server",105,"Button",0x50010007,6,6,183,108
  CONTROL "",CONFIG_PORT_FIELD,"Edit",0x50030080,51,36,130,12,0x00000200
  CONTROL "Port:",-1,"Static",0x50020002,11,36,36,12
  CONTROL "Empty",CONFIG_EMPTY_BTN,"Button",0x50030000,53,187,40,14
  CONTROL "Refresh",CONFIG_REFRESH_BTN,"Button",0x50010000,111,187,40,14
  CONTROL "Content",-1,"Button",0x50000007,6,176,183,62
  CONTROL "",-1,"Button",0x50020007,6,235,182,34
  CONTROL "(User)",-1,"Static",0x50020002,11,57,36,12
  CONTROL "(Password)",-1,"Static",0x50020001,11,73,36,12
  CONTROL "",CONFIG_USERNAME_FIELD,"Edit",0x50010080,51,57,130,12,0x00000200
  CONTROL "",CONFIG_PASSWORD_FIELD,"Edit",0x500100A0,51,73,130,12,0x00000200
  CONTROL "",CONFIG_BITRATE_SELECT,"ComboBox",0x50210103,51,208,130,12
  CONTROL "Bitrate:",6010,"Static",0x50020002,9,209,36,12
  CONTROL "Installation",-1,"Button",0x50020007,6,116,182,59
  CONTROL "Auto-update",CONFIG_UPGRADE_CHECK,"Button",0x50010003,53,131,64,10
  CONTROL "",CONFIG_UPGRADE_TEXT,"Static",0x50020000,52,153,123,12
  CONTROL "",CONFIG_HOST_FIELD,"Edit",0x50030080,52,18,130,13,0x00000200
  CONTROL "Upgrade",CONFIG_UPGRADE_BTN,"Button",0x50010000,114,131,54,13
  CONTROL "Download Directory",-1,"Static",0x50020001,10,90,36,17
  CONTROL "Browse",CONFIG_DOWNLOAD_BTN,"Button",0x50010000,52,92,54,13
END
ABOUT_DIALOG DIALOGEX 202,47,180,180
CAPTION "Media Caster - About"
FONT 8,"MS Sans Serif",0,0
STYLE 0x90C80006
BEGIN
  CONTROL "OK",IDOK,"Button",0x50010000,72,150,40,14
  CONTROL "",ABOUT_TEXT,"Edit",0x50811885,20,16,143,124,0x00000200
END
AUTH_DIALOG DIALOGEX 167,38,180,112
CAPTION "Media Caster - Error"
FONT 8,"MS Sans Serif",0,0
STYLE 0x10C80006
BEGIN
  CONTROL "Authentication Required",102,"Static",0x50020001,6,6,168,19
  CONTROL "Username",-1,"Static",0x50020002,19,36,40,12
  CONTROL "Password",-1,"Static",0x50020002,19,55,40,12
  CONTROL "",AUTH_USERNAME_FIELD,"Edit",0x50010080,70,36,90,12,0x00000200
  CONTROL "",AUTH_PASSWORD_FIELD,"Edit",0x500100A0,70,54,90,12,0x00000200
  CONTROL "OK",IDOK,"Button",0x50010000,76,84,40,14
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,120,84,40,14
END
MAIN_DIALOG DIALOGEX 10,0,292,273
FONT 8,"MS Sans Serif",0,0
STYLE 0x46000400
BEGIN
  CONTROL "Search:",102,"Static",0x50020002,0,2,26,8
  CONTROL "",MAIN_SEARCH_FIELD,"Edit",0x50010080,28,2,210,9
  CONTROL "Clear Search",MAIN_CLEAR_BTN,"Button",0x1001000B,241,1,48,11
  CONTROL "",MAIN_LIST,"SysListView32",0x10011009,0,13,289,246
  CONTROL "Play",MAIN_PLAY_BTN,"Button",0x1001000B,0,260,35,11
  CONTROL "Enqueue",MAIN_ENQUEUE_BTN,"Button",0x1001000B,38,260,35,11
  CONTROL "Refresh",MAIN_REFRESH_BTN,"Button",NOT 0x10000000|0x0001000B,76,260,36,11
  CONTROL "",MAIN_STATUS_TEXT,"Static",0x50020000,114,262,102,9
  CONTROL "Config",MAIN_CONFIG_BTN,"Button",0x1001000B,255,260,35,11
  CONTROL "Abort",MAIN_ABORT_BTN,"Button",NOT 0x10000000|0x0000000B,76,260,36,11
  CONTROL "Download",MAIN_DOWNLOAD_BTN,"Button",0x5C01000B,218,260,36,11
END
MAIN_LIST_MENU MENU
BEGIN
  POPUP "MAIN_LIST_MENU"
  BEGIN
    MENUITEM "Play Selection",MAIN_LIST_PLAY_ITEM
    MENUITEM "Enqueue Selection",MAIN_LIST_ENQUEUE_ITEM
    MENUITEM "Download Selection",MAIN_LIST_DOWNLOAD_ITEM
  END
END
TREE_ROOT_MENU MENU
BEGIN
  POPUP "TREE_ROOT_MENU"
  BEGIN
    MENUITEM "About...",TREE_ABOUT_ITEM
    MENUITEM "Configuration...",TREE_CONFIG_ITEM
  END
END
TREE_CHILD_MENU MENU
BEGIN
  POPUP "TREE_CHILD_MENU"
  BEGIN
    MENUITEM "Play",TREE_PLAY_ITEM
    MENUITEM "Enqueue",TREE_ENQUEUE_ITEM
  END
END
